<style>
    .tabs-container {
        max-width: 60%;
    }

    .dx-tab-form {
        display: none;
    }

    .dx-visible {
        display: block;
    }

    .mui-card {
        width: 30% !important;
    }

    .gridContainerv2 {
        max-height: 300px;
        /* chiều cao cố định */
        overflow-y: auto;
        /* chỉ body scroll */
    }
</style>
<div class="text-center" id="reportTitle" style="font-size: 20px">Package</div>
<div class="sticky-header bg-white p-2 shadow-sm z-3">
    <div class="">
        <button style="border-radius: 4px;  margin-right: 6px;" id="btnView" onclick="openModalSearchUser()"
            class="mui-button mui-button-search"><i class="fa-solid fa-search"></i>Search</button>
        <button style="border-radius: 4px;  margin-right: 6px;" id="btnNew" class="mui-button mui-button-new"
            type="button"><i class="fa-solid fa-plus"></i> New</button>
        <button style="border-radius: 4px;  margin-right: 6px;" id="btnEdit" class="mui-button mui-button-edit "
            type="button"><i class="fa-solid fa-pen"></i> Edit</button>
        <button style="border-radius: 4px;  margin-right: 6px;" id="btnSave" class="mui-button mui-button-export "
            type="button"> <i class="fa-solid fa-floppy-disk"></i> Save</button>
        <button style="border-radius: 4px;  margin-right: 6px;" id="btnDelete" class="mui-button button-report-delete"
            type="button"> <i class="fa-solid fa-trash-can"></i> Delete</button>
    </div>
</div>
<div class="mui-card"></div>
<div class="dx-tab-form dx-visible" data-tab="0" id="packageForm">
    <div class="tabs-container border p-3 mt-3 mx-auto">
        <!-- Thông tin chính -->
        <div class="row g-3 mb-3">
            <input type="hidden" id="ID" name="ID" />

            <div class="col-md-6">
                <label class="form-label" id="code">Code</label>
                <input type="text" id="txtCode" name="code" class="form-control mb-2">
                <div class="invalid-feedback"></div>

            </div>
            <div class="col-md-6 d-flex align-items-end">
                <div class="w-100">
                    <label class="form-label">Forecast Group</label>
                    <select class="form-control form-select form-control-sm" name="forecastGroupID" id="forecastGroup">
                        <option value="0">-- Select Forecast Group -- </option>
                        @foreach (dynamic u in ViewBag.PackageForecastGroup)
                        {
                            <option value="@u.ID">@u.Code / @u.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback"></div>

                </div>
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label class="form-label">Type</label>
                <select id="type" class="form-control form-select form-control-sm" disabled>
                    <option value="0">Element</option>
                </select>
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <div class="w-100">
                    <label class="form-label">Transaction Code</label>
                    <select class="form-control form-select form-control-sm" name="transCode" id="transactionCode">
                        <option value="0">-- Select Transaction Code -- </option>
                        @foreach (dynamic u in ViewBag.TransactionList)
                        {
                            <option value="@u.Code">@u.Code / @u.Description</option>
                        }
                    </select>
                    <div class="invalid-feedback"></div>

                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input id="txtDescription" name="description" type="text" class="form-control">
                <div class="invalid-feedback"></div>

            </div>

            <div class="mb-3">
                <label class="form-label">Display in Folio</label>
                <input id="textInNightAudit" type="text" class="form-control">
            </div>

            <div class="checkbox">
                <input class="form-check-input" type="checkbox" id="chkActive" checked>
                <label class="form-check-label" for="active">Active</label>
            </div>

            <!-- Attributes + Meal Info -->
            <div class="row g-3 mt-3">
                <!-- Attributes -->
                <div class="col-md-6 border p-3">
                    <label for="">Default Display</label>
                    <div class="group-box">
                        <label><input type="radio" name="attr" value="1" id="chkIncludedInRate" checked>
                            Included In Rate</label><br />
                        <label><input type="radio" name="attr" value="0" id="chkRateSeparateLine">
                            Add Rate Separate Line</label><br />
                    </div>
                </div>

                <!-- Meal Info -->
                <div class="col-md-6 border p-3">
                    <label class="form-label fw-bold">Meal Info</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="breakfast" checked>
                        <label class="form-check-label" for="breakfast">Breakfast</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="lunch" checked>
                        <label class="form-check-label" for="lunch">Lunch</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dinner" checked>
                        <label class="form-check-label" for="dinner">Dinner</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="dx-tab-form" data-tab="1" id="packageDetailForm">
    <div class="row">
        <!-- LEFT FORM -->
        <div class="col-md-3 border border-2">
            <input type="hidden" id="packageID">
            <input type="hidden" id="packageDetailID">
            <div class="row g-2">
                <div class="col-12">
                    <label class="form-label me-2 mb-0">Header Code</label>
                    <input id="targetCode" class="form-control mb-2 noReadOnly" name="packageID" disabled
                        value="No target Package" />
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-12">
                    <label class="form-label me-2 mb-0">Season Code</label>
                    <select class="form-control form-select form-control-sm " name="seasonID" id="seasonCode">
                        <option value="0">-- Select Season Code -- </option>
                        @foreach (dynamic u in ViewBag.SeasonList)
                        {
                            <option value="@u.ID">@u.Code / @u.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-6">
                    <label class="form-label me-2 mb-0">Start Date</label>
                    <input type="date" class="form-control mb-2" id="startDate" data-business-date>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-6">
                    <label class="form-label me-2 mb-0">End Date</label>
                    <input type="date" class="form-control mb-2" id="endDate" data-business-date>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label class="form-label me-2 mb-0">Trans. Code</label>
                    <select class="form-control form-select form-control-sm " name="transCode" id="transactionCodeDT">
                        <option value="0">-- Select Transaction Code -- </option>
                        @foreach (dynamic u in ViewBag.TransactionList)
                        {
                            <option value="@u.Code">@u.Code / @u.Description</option>
                        }
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label class="form-label me-2 mb-0">Currency</label>
                    <select class="form-control form-select form-control-sm noReadOnly" name="currencyID" disabled
                        id="currencyID" mb-2>
                        @foreach (dynamic u in ViewBag.CurrencyList)
                        {
                            <option value="@u.ID">@u.ID / @u.Description</option>
                        }
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label class="form-label me-2 mb-0 ">Price ++</label>
                    <input type="number" class="form-control mb-2 " name="price" id="price">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label class="form-label me-2 mb-0">Price Net</label>
                    <input type="number" class="form-control mb-2 " name="priceAfterTax" id="priceAfterTax">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label class="form-label me-2 mb-0">Allowance</label>
                    <input type="number" class="form-control mb-2 " id="allowanceAmount">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label class="form-label me-2 mb-0 ">Posting Rhythm</label>
                    <select class="form-control form-select form-control-sm " name="rhythmPostingID"
                        id="rhythmPostingID" mb-2>
                        @foreach (dynamic u in ViewBag.RhythmPostingList)
                        {
                            <option value="@u.ID">@u.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-12">
                    <label
                        class="form-label me-2 mb-0                                                                                                                                                                                                        ">Calculation
                        Rule</label>
                    <select class="form-control form-select form-control-sm" name="calculationRuleID"
                        id="calculationRuleID" mb-2>
                        <option value="0">-- Calculation Rule --</option>
                        <option value="1">Per Person</option>
                        <option value="2">Per Adult</option>
                        <option value="3">Per Child</option>
                        <option value="4">Per Room</option>
                        <option value="5">Per Child1</option>
                        <option value="6">Per Child2</option>
                        <option value="7">Per Child3</option>
                        <option value="8">Per Adutl + C</option>
                        <option value="9">Per Adutl + C + C1</option>
                        <option value="10">Per Adutl + C1</option>
                        <option value="11">Per C + C1</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="mt-3 d-flex gap-2">
                <button class="mui-button mui-button-clear" id="btnClear">Clear</button>
                <button class="mui-button mui-button-new" id="addDetailPackage">Add</button>
                <button class="mui-button button-report-delete" id="btnRemove">Remove</button>
            </div>
        </div>

        <!-- RIGHT TABLE -->
        <div class="col-md-8">
            <div id="packageDetailGrid" class="gridContainer"></div>
        </div>
    </div>
</div>


<div class="modal fade modal-md mt-2 modal-search" id="modalSearch" tabindex="-1" style="height: 80%;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Search User</h5>
                <button type="button" class="btn-close" onclick="closeModalSearchUser()"></button>
            </div>

            <div class="modal-body">

                <div class="row mb-2">
                    <div class="col-md-8">
                        <label>Search</label>
                        <input type="text" id="packageSearch" class="form-control" placeholder="Enter User name"
                            onkeyup="filterUserList()" />
                    </div>
                </div>
                <div class="table-responsive gridContainer" style="height: 400px;">
                    <table class="table table-bordered table-hover table-sm mb-0">
                        <thead class="table-light sticky-top">
                            <tr>
                                <th style="width:120px">Code</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody id="userTableBody">
                            @foreach (var u in ViewBag.PackageList)
                            {
                                <tr onclick="selectPackage('@u.ID')" style="cursor:pointer">
                                    <td>@u.Code</td>
                                    <td>@u.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        initializePackageDetailGrid();
    });
    const txtDescription = document.getElementById("txtDescription");
    const textInNightAudit = document.getElementById("textInNightAudit");

    txtDescription.addEventListener("input", function () {
        textInNightAudit.value = this.value;
    });
    const txtCode = document.getElementById("txtCode");
    const targetCode = document.getElementById("targetCode");

    txtCode.addEventListener("input", function () {
        targetCode.value = this.value;
    });
    const tabsText = [
        { text: 'Package Header' },
        { text: 'Package Detail' },

    ];

    $('.mui-card').dxTabs({
        dataSource: tabsText,
        selectedIndex: 0,
        keyExpr: 'text',       // dùng text làm key duy nhất
        width: '60%',
        showNavButtons: false,
        stylingMode: 'text',

        onSelectionChanged: function (e) {
            // Lấy index tab hiện tại
            const index = e.component.option('selectedIndex');

            // Ẩn tất cả form
            $('.dx-tab-form').hide();

            // Hiện form tương ứng
            $('.dx-tab-form[data-tab="' + index + '"]').show();

            // ===== TOGGLE SAVE BUTTON =====
            if (index === 1) {
                $('#btnNew').hide();
                $('#btnSave').hide();   // Detail → hide Save
                $('#btnDelete').hide();
            } else {
                $('#btnNew').show();
                $('#btnSave').show();   // Header → show Save
                $('#btnDelete').show()
            }
        }
    }).dxTabs('instance');

    function setFormReadOnly(readOnly = true) {
        // Tất cả input, textarea, select ngoại trừ select Type
        $('.dx-tab-form')
            .find('input, textarea, select')
            .not('.modal-search,#type,.noReadOnly')
            .prop('disabled', readOnly);
        $('#forecastGroup').prop('disabled', readOnly);
        // Checkbox và radio
        $('.dx-tab-form input[type=checkbox], .dx-tab-form input[type=radio]').prop('disabled', readOnly);

        // Nếu muốn select Type luôn disabled:
        //        $('select').prop('disabled', true);
    }
    function clearFormData() {
        const $tabs = $('.dx-tab-form');

        // Clear tất cả input có value (kể cả disabled)
        $tabs.find('input:not([type="checkbox"]):not([type="radio"])')
            .val('');

        // Clear textarea
        $tabs.find('textarea').val('');

        // Reset select (kể cả disabled)
        $tabs.find('select').each(function () {
            this.selectedIndex = 0;
        });

        // Uncheck checkbox
        $tabs.find('input[type="checkbox"]').prop('checked', false);

        // Uncheck radio
        $tabs.find('input[type="radio"]').prop('checked', false);

        // Clear DevExtreme Grid
        const grid = $('#packageDetailGrid').dxDataGrid('instance');
        if (grid) {
            grid.option('dataSource', []);
        }

        // ===== SET LẠI GIÁ TRỊ MẶC ĐỊNH (NẾU CẦN) =====
        $('#chkActive').prop('checked', true);            // Active = true
        $('#chkIncludedInRate').prop('checked', true);    // Radio mặc định
    }
    // Khi load page, form chỉ đọc
    setFormReadOnly(true);
    $('#btnNew').on('click', function () {
        clearFormData();
        applyValidationErrors([], "#packageForm");

        setFormReadOnly(false);  // Bỏ disabled
    });
    let isReadOnly = true;

    $('#btnEdit').on('click', function () {
        isReadOnly = !isReadOnly;
        setFormReadOnly(isReadOnly);

        // (tuỳ chọn) đổi text / icon
        // $(this).text(isReadOnly ? 'Edit' : 'Lock');
    });
    $('#btnSave').on('click', function () {
        $("#loadingSpinner").show();
        var dataPackage = getPackageDataToPost();
        $.ajax({
            url: "/Administration/RateCode/SavePackage",
            type: "POST",
            contentType: "application/json",   // gửi JSON
            data: JSON.stringify(dataPackage),         // convert object -> JSON
            success: function (res) {
                $("#loadingSpinner").hide();
                if (res.success) {
                    showToast('Success', res.message, true);
                    let data = res.data
                    selectPackage(data.id)
                } else {
                    applyValidationErrors(res.errors, "#packageForm");
                }
            },
            error: function (xhr, status, error) {
                // Nếu có mảng errors thì hiển thị từng cái
                if (Array.isArray(xhr.responseJSON?.errors)) {
                    xhr.responseJSON.errors.forEach((err, index) => {
                        setTimeout(() => {
                            showToast("Error", err, false);
                        }, index * 1000); // delay 300ms mỗi toast
                    });
                }

                $("#loadingSpinner").hide();
            }
        });

    });
    $('#btnDelete').on('click', function () {
        $("#loadingSpinner").show();
        var dataPackage = parseInt($("#ID").val()) || 0;
        $.ajax({
            url: "/Administration/RateCode/PackageDelete",
            type: "POST",
            contentType: "application/json",   // gửi JSON
            data: JSON.stringify({ ID: dataPackage }),         // convert object -> JSON
            success: function (res) {
                $("#loadingSpinner").hide();
                if (res.success) {
                    showToast('Success', res.message, true);
                    clearFormData();
                } else {
                    showToast('Error', res.message || 'Validation failed.', false);
                }
            },
            error: function (xhr, status, error) {
                // Nếu có mảng errors thì hiển thị từng cái
                if (Array.isArray(xhr.responseJSON?.errors)) {
                    xhr.responseJSON.errors.forEach((err, index) => {
                        setTimeout(() => {
                            showToast("Error", err, false);
                        }, index * 1000); // delay 300ms mỗi toast
                    });
                }

                $("#loadingSpinner").hide();
            }
        });

    });

    $('#addDetailPackage').on('click', function () {
        $("#loadingSpinner").show();
        var dataPackageDetail = getPackageDetailDataToPost();
        $.ajax({
            url: "/Administration/RateCode/SaveDetailPackage",
            type: "POST",
            contentType: "application/json",   // gửi JSON
            data: JSON.stringify(dataPackageDetail),         // convert object -> JSON
            success: function (res) {
                $("#loadingSpinner").hide();
                if (res.success) {
                    showToast('Success', res.message, true);
                    let data = res.data
                    selectPackage(data.id)
                } else {
                    applyValidationErrors(res.errors, "#packageDetailForm");
                }
            },
            error: function (xhr, status, error) {
                // Nếu có mảng errors thì hiển thị từng cái
                if (Array.isArray(xhr.responseJSON?.errors)) {
                    xhr.responseJSON.errors.forEach((err, index) => {
                        setTimeout(() => {
                            showToast("Error", err, false);
                        }, index * 1000); // delay 300ms mỗi toast
                    });
                }

                $("#loadingSpinner").hide();
            }
        });

    });
    $('#btnClear').on('click', function () {
        clearFormData();
        applyValidationErrors([], "#packageDetailForm");

    });
    $('#btnRemove').on('click', function () {
        $("#loadingSpinner").show();
        var id = parseInt($("#packageDetailID").val()) || 0;
        $.ajax({
            url: "/Administration/RateCode/PackageDetailDelete",
            type: "POST",
            contentType: "application/json",   // gửi JSON
            data: JSON.stringify({ ID: id }),         // convert object -> JSON
            success: function (res) {
                $("#loadingSpinner").hide();
                if (res.success) {
                    showToast('Success', res.message, true);
                    clearFormData();
                } else {
                    showToast('Error', res.message || 'Validation failed.', false);
                }
            },
            error: function (xhr, status, error) {
                // Nếu có mảng errors thì hiển thị từng cái
                if (Array.isArray(xhr.responseJSON?.errors)) {
                    xhr.responseJSON.errors.forEach((err, index) => {
                        setTimeout(() => {
                            showToast("Error", err, false);
                        }, index * 1000); // delay 300ms mỗi toast
                    });
                }

                $("#loadingSpinner").hide();
            }
        });

    });


    // sử lý modal
    function openModalSearchUser() {
        $('#modalSearch').modal('show');
    }

    function closeModalSearchUser() {
        $('#packageSearch').val('');
        filterUserList();
        $('#modalSearch').modal('hide');
    }

    async function initializePackageDetailGrid(dataPackageDetailGrid) {
        $("#packageDetailGrid").dxDataGrid({
            dataSource: dataPackageDetailGrid || [],
            showBorders: true,
            selection: { mode: "single" },
            paging: { pageSize: 20 },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [20, 50, 100],
                showInfo: true
            },
            filterRow: { visible: true },
            columns: [
                { dataField: "id", caption: "ID", visible: false },
                { dataField: "transCode", caption: "Trans. Code", width: "13%" },
                { dataField: "transactionDescription", caption: "Description", dataType: "string" },
                { dataField: "priceAfterTax", caption: "Price After Tax", format: "#,##0", dataType: "number" },
                { dataField: "currencyID", caption: "Currency", width: 120 },
                { dataField: "startDate", caption: "Start Date", width: "130", dataType: "date", format: "dd/MM/yyyy  " },
                { dataField: "endDate", caption: "End Date", width: "130", dataType: "date", format: "dd/MM/yyyy  " },
                { dataField: "postingDay", caption: "Posting Day", width: "13%" },


            ],
            scrolling: {
                mode: "standard", // Không dùng virtual để footer hiển thị đúng
                showScrollbar: "always",
                scrollByContent: true
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            // 🔥 Quan trọng: gán selectedRowData khi click chọn
            onRowClick: function (e) {
                selectedRowData = e.data; // 🔥 lấy data của row vừa click
                console.log("Selected Row (RowClick):", selectedRowData);
                selectPackageDetail(selectedRowData);
            },
            noDataText: "No records to display" // hiển thị text khi chưa có dữ liệu
        });
    }

    async function selectPackageDetail(data) {
        try {
            $("#loadingSpinner").show();

            if (data == null) {
                showToast('Error', resPackage?.message || 'Failed to load package.', false);
                return;
            }

            $('#packageDetailID').val(data.id);
            $('#seasonCode').val(data.seasonID);
            $('#startDate').val(data.startDate.split('T')[0]);
            $('#endDate').val(data.endDate.split('T')[0]);
            $('#transactionCodeDT').val(data.transCode);
            $('#currencyID').val(data.currencyID);
            $('#price').val(data.price);

            $('#priceAfterTax').val(data.priceAfterTax);
            $('#allowanceAmount').val(data.allowanceAmount);
            $('#rhythmPostingID').val(data.rhythmPostingID);
            $('#calculationRuleID').val(data.calculationRuleID);
            setFormReadOnly(true);

        } catch (err) {
            console.error(err);
            showToast('Error', 'Failed to load data.', false);
        } finally {
            $("#loadingSpinner").hide();
        }
    }
    async function selectPackage(id) {
        try {
            $("#loadingSpinner").show();
            console.log('ID', id);


            // ===== 1. Lấy Package =====
            const resPackage = await $.ajax({
                url: '/Administration/RateCode/GetByIDPackage',
                method: 'GET',
                data: { id }
            });

            if (!resPackage?.success) {
                showToast('Error', resPackage?.message || 'Failed to load package.', false);
                return;
            }

            const pkg = resPackage.data;
            console.log('pkg', pkg);


            $('#ID').val(pkg.id);
            $('#packageID').val(pkg.id);
            $('#txtCode').val(pkg.code);
            $('#targetCode').val(pkg.code || "No target Package");
            $('#txtDescription').val(pkg.description);
            $('#forecastGroup').val(pkg.forecastGroupID);
            $('#type').val(pkg.type);
            $('#transactionCode').val(pkg.transCodeAlt);
            $('#textInNightAudit').val(pkg.textInNightAudit);

            $('#chkTaxInclusive').prop('checked', pkg.taxInclusive);
            $('#chkIncludedInRate').prop('checked', pkg.includedInRate);
            $('#chkRateSeparateLine').prop('checked', pkg.rateSeparateLine);
            $('#chkActive').prop('checked', pkg.active);

            $('#breakfast').prop('checked', pkg.breakfast);
            $('#lunch').prop('checked', pkg.lunch);
            $('#dinner').prop('checked', pkg.dinner);
            $('#chkVap').prop('checked', pkg.vap);

            setFormReadOnly(true);

            // ===== 2. Lấy Package Detail =====
            const resDetail = await $.ajax({
                url: '/Administration/RateCode/GetPackageDetailByIDPackage',
                method: 'GET',
                data: { id }
            });

            if (!resDetail?.success) {
                showToast('Error', resDetail?.message || 'Failed to load package detail.', false);
                return;
            }

            const details = resDetail.data;
            console.log('PackageDetail:', details);
            initializePackageDetailGrid(details);

            $('#modalSearch').modal('hide');

        } catch (err) {
            console.error(err);
            showToast('Error', 'Failed to load data.', false);
        } finally {
            $("#loadingSpinner").hide();
        }
    }

    function filterUserList() {
        let keyword = $('#packageSearch').val().toLowerCase();

        $('#userTableBody tr').each(function () {
            let text = $(this).text().toLowerCase();
            $(this).toggle(text.includes(keyword));
        });
    }

    function getPackageDataToPost() {
        const data = {
            ID: parseInt($("#ID").val()) || 0,

            Code: $("#txtCode").val()?.trim() || "",

            ForecastGroupID: parseInt($("#forecastGroup").val()) || 0,
            Type: parseInt($("#type").val()) || 0,

            TransCode: $("#transactionCode").val() || "",

            Description: $("#txtDescription").val()?.trim() || "",
            DisplayInFolio: $("#textInNightAudit").val()?.trim() || "",

            // ===== Attributes =====
            // radio attr: 1 or 0
            DefaultDisplay: parseInt($("input[name='attr']:checked").val()),

            // ===== Meal Info =====
            Breakfast: $("#breakfast").is(":checked"),
            Lunch: $("#lunch").is(":checked"),
            Dinner: $("#dinner").is(":checked"),

            // ===== Status =====
            Active: $("#chkActive").is(":checked"),

            // ===== Audit =====
            UserInsertID: parseInt(localStorage.getItem("userID")) || 0,
            UserUpdateID: parseInt(localStorage.getItem("userID")) || 0
        };

        return data;
    }

    function getPackageDetailDataToPost() {
        const data = {
            // ===== PK =====
            ID: parseInt($("#packageDetailID").val()) || 0,

            // ===== FK =====
            PackageID: parseInt($("#packageID").val()) || null,
            SeasonID: parseInt($("#seasonCode").val()) || null,

            // ===== Date =====
            StartDate: $("#startDate").val() || null,
            EndDate: $("#endDate").val() || null,

            // ===== Transaction =====
            TransCode: $("#transactionCodeDT").val() || null,

            // ===== Price =====
            Price: parseFloat($("#price").val()) || null,
            PriceAfterTax: parseFloat($("#priceAfterTax").val()) || null,

            // ⚠ CurrencyID là string
            CurrencyID: $("#currencyID").val() || null,

            AllowanceAmount: parseFloat($("#allowanceAmount").val()) || null,

            // ===== Rule =====
            RhythmPostingID: parseInt($("#rhythmPostingID").val()) || 0,
            CalculationRuleID: parseInt($("#calculationRuleID").val()) || null,

            // ===== Audit =====
            UserInsertID: parseInt(localStorage.getItem("userID")) || 0,
            UserUpdateID: parseInt(localStorage.getItem("userID")) || 0
        };

        return data;
    }

</script>
